table {
  margin: 0.5em;
}

table td {
  padding: 0.2em;
}

/******** CLASSIC DESIGN ********/
thead, tfoot {
  background-color: #c5c5c5;
  font-weight: bold;
}

tbody {
  background-color: #fff;
}

table {
  border: 1px solid #858585;
}

table > :not(:last-child),
tbody > :not(:last-child) {
  border-bottom: 1px solid #858585;
}

/******** MINIMALISTIC DESIGN ********/

table.min thead,
table.min tbody,
table.min tfoot {
  background-color: #777;
  background-color: rgba(0,0,0,0);
}

table.min,
table.min thead,
table.min tbody,
table.min td,
table.min tr,
table.min tfoot {
  border-width: 0;
}

table.min thead {
  border-bottom: 2px solid #8e8e8e;
}

table.min > :last-child {
  border-bottom: 2px solid #c5c5c5;
}

table.min tfoot {
  border-top: 1px solid #a4a4a4;
}

/******** FLAT DESIGN ********/

table.flat,
table.flat * {
  border-width: 0;
}

/******** ALTERNATING ROWS ********/

table.alt tbody > tr:nth-child(even) {background: #ededed}
table.alt tbody > tr:nth-child(odd) {background: #fff}

/******** REACTIVE DESIGN ********/

table.reactive :not(thead):not(tfoot) tr:hover {
  background-color: $primary-color-subtle;
}

table.reactive :not(thead):not(tfoot) tr td:hover {
  background-color: $primary-color-lighter;
}
