/********** CONTAINERS **********/
.container,
.container-sm,
.container-md,
.container-lg {
  display: block;
  width: 100%;
  margin: 1em auto;
  padding: 0.5em;
}

.container-sm {
  max-width: ($container-sm - $grid-margin);
}

.container-md {
  max-width: ($container-md - $grid-margin);
}

.container-lg {
  max-width: ($container-lg - $grid-margin);
}

/*
* The following classes are classes that are never used by default, but you can
* use them to force the behaviour of an element ( for example if you want to
* force an element to float on the right use "right" )
*/

/********** TITLE **********/

/* Titles of a section with special style added */
.section-header {
  position: relative;
  left: 0.5em;
}

.section-header::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 60%;
  top: 20%;
  left: -0.5em;
  border-right: 6px solid $primary-color;
}

/********** ELEMENTS ASPECT **********/

/* Change the aspect of a container to showcase something inside */
.showcase {
  background-color: $bg-color-primary;
  border: $border-color-primary;
  margin: 2em 1em;
  padding: 1em;
  box-shadow: 0 0 3px 1px $border-color-primary inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/*** SPOILERS ***/

/* Applied on a span, it hides the text and displays it on hover */
span.spoiler {
  color: $font-color-base;
  background-color: $font-color-base;
}

span.spoiler:hover {
  background-color: transparent;
}

/* Applied on a div with, it toggle the display with a button */
div.spoiler-block button {
  margin: 0.5em auto;
  display: block;
}

div.spoiler-block .spoiler-content {
  display: none;
}
