/*
********** INPUT FIELDS **********
*/

/*** TEXT ***/
input {
  line-height: 1.5em;
}

input:focus {
  outline: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"] {
  border: 1px solid $grey-light;
  border-radius: 2px;
  padding: 0.25em 0.5em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus {
  border-color: $primary-color;
}

input[type="text"].invalid,
input[type="email"].invalid,
input[type="password"].invalid,
input[type="search"].invalid,
input[type="url"].invalid {
  border-color: $danger-color !important;
}

input[type="text"].valid,
input[type="email"].valid,
input[type="password"].valid,
input[type="search"].valid,
input[type="url"].valid {
  border-color: $success-color !important;
}
