/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

button,
.button {
  padding: 0.4em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0.5em;
  font-family: @font-default;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
  color: @black-default;
  border: 1px solid @grey-light;
  display: inline-block;
}

button:hover,
.button:hover,
.button:visited:hover {
  cursor: pointer;
  box-shadow: 0 0 5px -1px #252525;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  border-color: @grey-dark;
  color: @black-default;
}

.button:visited {
  color: inherit;
}



button:disabled,
.button.disabled {
  box-shadow: 0 0 6px 0 #474747 inset;
  background-color: @grey-default;
  color: @grey-darker;
}

button:disabled:hover {
  background-color: @grey-default;
  cursor: not-allowed;
}

button:not(:disabled):not(.loading):active,
.button:not(.disabled):not(.loading):active {
  outline: 0;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  border-color: @primary-color;
  box-shadow: 0 2px 1px #666 inset;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.3) inset;
}

button:focus,
.button:focus {
  outline: 0;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

/********** MODIFIER CLASSES **********/

button.primary,
.button.primary {
  background-color: @primary-color;
  color: @white-light;
  border-color: @primary-color;
}

button.primary:not(:disabled):not(.loading):active,
.button.primary:not(.disabled):not(.loading):active {
  background-color: @primary-color-dark;
  border-color: @primary-color;
}

button.primary:not(:disabled):not(.loading):hover,
.button.primary:not(.disabled):not(.loading):hover {
  border-color: @primary-color;
  color: @white-light;
}

button.large,
.button.large {
  padding: 0.6em;
  font-size: 20px;
}


button.loading,
.button.loading {
  padding: 0.7em 2em;
  content: '';
  pointer-events: none;
}

button.large.loading,
.button.large.loading {
  padding: 0.8em 2.5em;
}

button.loading:hover,
.button.loading:hover {
  cursor: wait;
}

button.primary.loading::after,
button.green.loading::after,
button.blue.loading::after,
button.red.loading::after,
button.orange.loading::after,
button.black.loading::after,
.button.primary.loading:after,
.button.green.loading::after,
.button.blue.loading::after,
.button.red.loading::after,
.button.orange.loading::after,
.button.black.loading::after {
    border-color: transparent transparent white white !important;
}

button.loading::after,
.button.loading::after {
    animation: spin-right 500ms infinite linear;
    border: 2px solid #888;
    -webkit-border-radius: 2000px;
    -moz-border-radius: 2000px;
    border-radius: 2000px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: calc(@font-size-default * 1);
    position: relative;
    width: calc(@font-size-default * 1);
}

button.large.loading::after,
.button.large.loading::after {
  height: calc(@font-size-default * 1.5);
  width: calc(@font-size-default * 1.5);
}

/*button.loading:after {
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    position: absolute !important;
}*/

/*************** COLORS ***************/

button.green, button.blue, button.red, button.orange, button.black,
.button.green, .button.blue, .button.red, .button.orange, .button.black {
  color: @white-light;
}

.button.green:hover,
.button.blue:hover,
.button.red:hover,
.button.orange:hover,
.button.black:hover {
  color: @white-light;
}

/* GREEN */
button.green,
.button.green {
  background-color: @green-default;
  border-color: @green-default;
}
button.green:not(:disabled):not(.loading):active,
.button.green:not(:disabled):not(.loading):active {
  background-color: @green-dark;
  border-color: @green-default;
}
button.green:not(:disabled):not(.loading):hover,
.button.green:not(:disabled):not(.loading):hover {
  border-color: @green-default;
}

/* BLUE */
button.blue,
.button.blue {
  background-color: @blue-default;
  border-color: @blue-default;
}
button.blue:not(:disabled):not(.loading):active,
.button.blue:not(:disabled):not(.loading):active {
  background-color: @blue-dark;
  border-color: @blue-default;
}
button.blue:not(:disabled):not(.loading):hover,
.button.blue:not(:disabled):not(.loading):hover {
  border-color: @blue-default;
}

/* RED */
button.red,
.button.red {
  background-color: @red-default;
  border-color: @red-default;
}
button.red:not(:disabled):not(.loading):active,
.button.red:not(:disabled):not(.loading):active {
  background-color: @red-dark;
  border-color: @red-default;
}
button.red:not(:disabled):not(.loading):hover,
.button.red:not(:disabled):not(.loading):hover {
  border-color: @red-default;
}

/* ORANGE */
button.orange,
.button.orange {
  background-color: @orange-default;
  border-color: @orange-default;
}
button.orange:not(:disabled):not(.loading):active,
.button.orange:not(:disabled):not(.loading):active {
  background-color: @orange-dark;
  border-color: @orange-default;
}
button.orange:not(:disabled):not(.loading):hover,
.button.orange:not(:disabled):not(.loading):hover {
  border-color: @orange-default;
}

/* BLACK */
button.black,
.button.black {
  background-color: @black-light;
  border-color: @black-light;
}
button.black:not(:disabled):not(.loading):active,
.button.black:not(:disabled):not(.loading):active {
  background-color: @black-default;
  border-color: @black-light;
}
button.black:not(:disabled):not(.loading):hover,
.button.black:not(:disabled):not(.loading):hover {
  border-color: @black-light;
}
