/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

  /********** FONTS **********/

  @font-default: Arial, "sans-serif"; /* basic text */
  @font-sans-serif: Impact, "sans-serif"; /* basic text sans serif */
  @font-serif: "Times New Roman", "serif"; /* basic text serif ? */
  @font-title: 'Source Sans Pro', sans-serif; /* h1, h2, h3, h4, h5, h6 */
  @font-header: Ubuntu, "sans-serif"; /* Header */
  @font-code: "Courier New", "monospace"; /* code */

  @font-size-default: 16px; /* Basic text */
  @font-size-big: calc(@font-size-default * 1.5); /* Basic text */
  @font-size-small: calc(@font-size-default * 0.8); /* Basic text */
  @font-size-header: 96px; /* Header */

  @line-height: 1.5;

  /********** COLOR PALETTE **********/

  /*
  * HOW TO USE
  * - Define the default color each time ( @blue-default, @red-default, etc. )
  * - The shades will be automatically calculated using lighten() and darken()
  * - At the end, choose the colors of elements using the color palette
  *   so you have an uniform color scheme
  */

  /* WHITE */
  @white-default: #ecf0f1; /* BASE */
  @white-light: lighten(@white-default, 10%);
  @white-dark: darken(@white-default, 10%);

  /* GREY */
  @grey-default: #9d9d9d;
  @grey-lighter: lighten(@grey-default, 20%);
  @grey-light: lighten(@grey-default, 10%);
  @grey-dark: darken(@grey-default, 10%);
  @grey-darker: darken(@grey-default, 20%);

  /* BLACK */
  @black-default: #0e0e0e;
  @black-lighter: lighten(@black-default, 10%);
  @black-light: lighten(@black-default, 5%);

  /* BLUE */
  @blue-default: #2c72d9;
  @blue-subtle: lighten(@blue-default, 40%);
  @blue-lighter: lighten(@blue-default, 25%);
  @blue-light: lighten(@blue-default, 15%);
  @blue-dark: darken(@blue-default, 15%);
  @blue-darker: darken(@blue-default, 25%);

  /* GREEN */
  @green-default: #32a241;
  @green-subtle: lighten(@green-default, 40%);
  @green-lighter: lighten(@green-default, 25%);
  @green-light: lighten(@green-default, 15%);
  @green-dark: darken(@green-default, 15%);
  @green-darker: darken(@green-default, 25%);

  /* RED */
  @red-default: #b6322e;
  @red-subtle: lighten(@red-default, 40%);
  @red-lighter: lighten(@red-default, 25%);
  @red-light: lighten(@red-default, 15%);
  @red-dark: darken(@red-default, 15%);
  @red-darker: darken(@red-default, 25%);

  /* ORANGE */
  @orange-default: #eb8316;
  @orange-subtle: lighten(@orange-default, 40%);
  @orange-lighter: lighten(@orange-default, 25%);
  @orange-light: lighten(@orange-default, 15%);
  @orange-dark: darken(@orange-default, 15%);
  @orange-darker: darken(@orange-default, 25%);

  /*** OTHERS ***/
  @color-brown: #79461c;
  @color-gold: #d6aa27;
  @color-yellow: #e8e62a;
  @color-pink: #de557a;
  @color-purple: #73289c;
  @color-cyan: #36c7e0;

  /********** ELEMENTS DEFAULT COLORS **********/

  /***** COLOR PALETTE *****/
  @primary-color: @blue-default;
  @primary-color-subtle: @blue-subtle;
  @primary-color-lighter: @blue-lighter;
  @primary-color-light: @blue-light;
  @primary-color-dark: @blue-dark;
  @primary-color-darker: @blue-darker;




  /* HEADER */
  @color-header: @white-default;
  @bg-color-header: @primary-color;



  @bg-color-html: #fff;
  @bg-color-body: @white-default;
  @bg-color-main: @white-default;
  @bg-color-aside: @red-subtle;
  @bg-color-footer: @black-default;
  @bg-color-nav: @blue-default;

  @navside-header-color: @primary-color-dark;

  @bg-color-code: #d9e7ec;

  @font-color-text: @black-default;
  @font-color-title: @black-lighter;
  @font-color-title-second: @grey-default;
  @font-color-footer: @white-dark;

  @font-color-link: @blue-default;
  @font-color-link-h: @blue-light;
  @font-color-link-v: @color-purple;

  /********** SIZES **********/

  @body-width: 100%;
  @main-width: 1024px;
  @aside-width: 200px;
  @navside-width: 240px;
  @navside-header-height: 150px;

  /************* VARIABLES USED IN SPECIFIC PARTS *************/

  /*** GRID LAYOUT ***/
  @grid-margin: 20px;
  @grid-margin-sm: (@grid-margin / 2);

  /* Container threshold sizes */
  @container-sm: 750px;
  @container-md: 960px;
  @container-lg: 1200px;
