/***** HEADER *****/

header {
  font-size: var(--font-size-header);
  font-family: var(--font-header);
  width: 100%;
  text-align: center;
}

/***** H1, H1, H2, H3, H4, H5, H6 *****/

h1, h2, h3, h4, h5, h6 {
  color: var(--blue-default);
  font-family: var(--font-title);
  line-height: 2;
  padding-left: 2%;
}

h1 {
  font-size: var(--font-size-huge);
}

h2 {
  font-size: var(--font-size-bigger);
}

h3 {
  font-size: var(--font-size-big);
}

h4 {
  font-size: var(--font-size-default);
}

h5 {
  font-size: var(--font-size-small);
}

h6 {
  font-size: var(--font-size-smaller);
}

/***** LINKS *****/

a {
  text-decoration: none;
  color: var(--blue-default);
}

a:hover {
  color: var(--blue-light);
}
