/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

button {
  padding: 1em;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  margin: 0.5em;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  box-sizing: border-box;
  background-color: #fff;
  color: var(--black-default);
  border: 1px solid var(--grey-light);
}

button:not(:disabled):not(.is-loading):hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px -1px #252525;
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  border-color: var(--grey-dark);
}

button:disabled {
  box-shadow: 0px 0px 6px 0px #474747 inset;
  background-color: var(--grey-default);
  color: var(--grey-darker);
}

button:disabled:hover {
  background-color: var(--grey-default);
  cursor: not-allowed;
}

button:not(:disabled):not(.is-loading):active {
  outline: 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  /*box-shadow: 0px 0px 3px 0px #474747 inset;*/
  border-color: var(--primary-color);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.3) inset;
}

button:focus {
  outline: 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

button.green, button.blue, button.red, button.orange, button.black {
  color: var(--white-light);
}

/* GREEN */
button.green {
  background-color: var(--green-default);
  border-color: var(--green-default);
}
button.green:not(:disabled):not(.is-loading):active {
  background-color: var(--green-dark);
  border-color: var(--green-default);
}

/* BLUE */
button.blue {
  background-color: var(--blue-default);
  border-color: var(--blue-default);
}
button.blue:not(:disabled):not(.is-loading):active {
  background-color: var(--blue-dark);
  border-color: var(--blue-default);
}

/* RED */
button.red {
  background-color: var(--red-default);
  border-color: var(--red-default);
}
button.red:not(:disabled):not(.is-loading):active {
  background-color: var(--red-dark);
  border-color: var(--red-default);
}

/* ORANGE */
button.orange {
  background-color: var(--orange-default);
  border-color: var(--orange-default);
}
button.orange:not(:disabled):not(.is-loading):active {
  background-color: var(--orange-dark);
  border-color: var(--orange-default);
}

/* BLACK */
button.black {
  background-color: var(--black-light);
  border-color: var(--black-light);
}
button.black:not(:disabled):not(.is-loading):active {
  background-color: var(--black-default);
  border-color: var(--black-light);
}
