/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

button {
  padding: 1em;
  border: 0px solid var(--grey-default);
  border-radius: 0.15em;
  -webkit-border-radius: 0.15em;
  text-shadow: 0px 0px 3px #464646;
  margin: 0.5em;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 6px -3px #383838;
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}

button:active {
  outline: 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  box-shadow: none;
}

button:focus {
  outline: 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

button.green, button.blue, button.red, button.yellow, button.black {
  color: var(--white-default);
}

/* GREEN */
button.green {
  background-color: var(--green-default);
}
button.green:hover {
  background-color: var(--green-light);
}
button.green:active {
  background-color: var(--green-dark);
}

/* BLUE */
button.blue { background-color: var(--blue-default); }
button.blue:hover { background-color: var(--blue-light); }
button.blue:active { background-color: var(--blue-dark); }

/* RED */
button.red { background-color: var(--red-default); }
button.red:hover { background-color: var(--red-light); }
button.red:active { background-color: var(--red-dark); }

/* YELLOW */
button.yellow { background-color: var(--yellow-default); }
button.yellow:hover { background-color: var(--yellow-light); }
button.yellow:active { background-color: var(--yellow-dark); }

/* BLACK */
button.black { background-color: var(--black-light); }
button.black:hover { background-color: var(--black-lighter); }
button.black:active { background-color: var(--black-default); }
