/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

:root {

  /*
  * The names of the components using each of the variables are written
  * in comments after the variable declaration, just use Ctrl+F
  */
  /********** FONTS **********/

  --font-default: Arial; /* basic text */
  --font-second: Impact; /* basic text bis */
  --font-third: "Times New Roman"; /* basic text thris ? */
  --font-title: Verdana; /* h1, h2, h3, h4, h5, h6 */
  --font-header: Ubuntu; /* Header */
  --font-code: "Courier New"; /* code */

  --font-size-default: 1rem; /* Basic text */
  --font-size-big: calc(var(--font-size-default) * 1.5); /* Basic text */
  --font-size-small: calc(var(--font-size-default) * 0.7); /* Basic text */
  --font-size-header: 12vw; /* Header */

  --line-height: 1.5;

  /********** ELEMENTS DEFAULT COLORS **********/
  --color-header: var(--white-default);
  --bg-color-header: var(--blue-default);

  --bg-color-html: #fff;
  --bg-color-body: var(--white-default);
  --bg-color-main: var(--blue-subtle);
  --bg-color-aside: var(--red-subtle);
  --bg-color-footer: var(--black-light);
  --bg-color-nav: var(--blue-default);

  --font-color-text: var(--black-default);
  --font-color-title: var(--black-lighter);
  --font-color-title-second: var(--grey-dark);
  --font-color-footer: var(--white-dark);

  --font-color-link: var(--blue-default);
  --font-color-link-h: var(--blue-light);
  --font-color-link-v: var(--color-purple);
  /********** SIZES **********/

  --body-width: 100%;
  --main-width: 1200px;
  --aside-width: 250px;
  --nav-width: 100%;

  /* Container threshold sizes */
  --container-sm: 750px;
  --container-md: 960px;
  --container-lg: 1200px;

}
