/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

:root {


  /*
  * The names of the components using each of the variables are written
  * in comments after the variable declaration, just use Ctrl+F
  */
  /********** FONTS **********/

  --font-default: Arial; /* basic text */
  --font-second: Impact; /* basic text bis */
  --font-third: "Times New Roman"; /* basic text thris ? */
  --font-title: Verdana; /* h1, h2, h3, h4, h5, h6 */
  --font-header: Ubuntu; /* Header */
  --font-code: "Courier New"; /* code */

  --font-size-default: 16px; /* Basic text */
  --font-size-big: calc(var(--font-size-default) * 1.5); /* Basic text */
  --font-size-small: calc(var(--font-size-default) * 0.8); /* Basic text */
  --font-size-header: 12vw; /* Header */

  font-size: var(--font-size-default);
  --line-height: 1.5;

  /********** COLORS **********/

  /* WHITE */
  --white-default: #ecf0f1;
  --white-light: #f2f8f9;
  --white-dark: #d7d9da;

  /* GREY */
  --grey-default: #9d9d9d;
  --grey-light: #a8aeb3;
  --grey-dark: #606466;
  --grey-darker: #3c3e40;

  /* BLACK */
  --black-default: #0e0e0e;
  --black-lighter: #262626;
  --black-light: #171717;

  /* BLUE */

  --blue-subtle: #d3e2f4;
  --blue-light: #51a6de;
  --blue-default: #2a70ff;
  --blue-dark: #194082;

  /* GREEN */
  --green-subtle: #d1f4da;
  --green-light: #50de44;
  --green-default: #44b434;
  --green-dark: #198233;

  /* RED */
  --red-subtle: #f4d8d5;
  --red-light: #de6054;
  --red-default: #c61b19;
  --red-dark: #822117;

  /* ORANGE */
  --orange-subtle: #edeccc;
  --orange-light: #e0b263;
  --orange-default: #e0a32d;
  --orange-dark: #c38925;

  /*** OTHERS ***/
  --color-brown: #79461c;
  --color-gold: #d6aa27;
  --color-yellow: #e8e62a;
  --color-pink: #de557a;
  --color-purple: #73289c;
  --color-cyan: #36c7e0;

  /********** ELEMENTS DEFAULT COLORS **********/

  /***** COLOR PALETTE *****/
  --primary-color: var(--blue-default);
  --primary-color-dark: var(--blue-dark);
  --primary-color-light: var(--blue-light);

  /* HEADER */
  --color-header: var(--white-default);
  --bg-color-header: var(--primary-color);



  --bg-color-html: #fff;
  --bg-color-body: var(--white-default);
  --bg-color-main: var(--white-default);
  --bg-color-aside: var(--red-subtle);
  --bg-color-footer: var(--black-default);
  --bg-color-nav: var(--blue-default);

  --bg-color-code: #ecebeb;

  --font-color-text: var(--black-default);
  --font-color-title: var(--black-lighter);
  --font-color-title-second: var(--grey-default);
  --font-color-footer: var(--white-dark);

  --font-color-link: var(--primary-color);
  --font-color-link-h: var(--primary-color-light);
  --font-color-link-v: var(--color-purple);
  /********** SIZES **********/

  --border-width: 1px;

  --body-width: 100%;
  --main-width: 1200px;
  --aside-width: 250px;
  --nav-width: 100%;

  /* Container threshold sizes */
  --container-sm: 750px;
  --container-md: 960px;
  --container-lg: 1200px;

}
