/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

.soft-popup, .soft-progress {
  box-sizing: border-box;
}

/*************** SOFT POPUPS ***************/
.soft-popupmask {
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
}

.soft-popup {
  z-index: 5;
  position: fixed;
  width: 80%;
  max-width: 800px;
  height: 50%;
  max-height: 400px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  background-color: var(--white-default);
  color: var(--black-default);
  box-shadow: 0px 4px 16px 0px #252525;
  vertical-align: middle;
  overflow: hidden;
}

.soft-popup div {
  width: 100%;
  height: calc(100% - 5 * var(--font-size-default));
  display: table;
}

.soft-popup p {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}

.soft-popup span:nth-child(1) {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 2;
  width: 100%;
  display: block;
  color: var(--white-light);
  box-shadow: 0px -2px 16px 2px #121212;
  background-color: var(--grey-default);
  border-bottom: 0.25em solid var(--grey-dark);
}

.soft-popup button {
  position: relative;
  padding: 0.5em 2em;
  bottom: 2em;
}

.soft-popup.success span:nth-child(1) {
  background-color: var(--green-dark);
  border-color: var(--green-default);
}

.soft-popup.info span:nth-child(1) {
  background-color: var(--blue-dark);
  border-color: var(--blue-default);
}

.soft-popup.warning span:nth-child(1) {
  background-color: var(--yellow-dark);
  border-color: var(--yellow-default);
}

.soft-popup.alert span:nth-child(1) {
  background-color: var(--red-dark);
  border-color: var(--red-default);
}

/*************** SOFT PROGRESS BARS ***************/

.soft-progress {
  width: 100%;
  display: block;
  margin: 0px;
  height: 0.5em;
  background-color: var(--white-dark);
}

.soft-progress div {
  height: 100%;
  text-align: center;
  margin: 0px;
  background-color: var(--blue-default);
}

/*************** SOFT TOOLTIPS ***************/

.soft-tooltip {
  position: relative;
}

.tooltip {
  position: absolute;
  display: block;
  visibility: hidden;
  border-width: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.plop {
  animation: plop 0.2s 0s ease-in-out;
  animation-fill-mode: both;
}

.tooltip div {
  padding: 0.6em;
  font-size: 14px;
  font-weight: normal;
  margin: 10px !important;
  border: 0px !important;
  color: #fff;
  background-color: rgba(0,0,0,0.75);
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  width: auto;
  text-align: center;
  z-index: 2;
  animation: plop 0.2s 0s ease-in-out;
  animation-fill-mode: both;
}

.tooltip div::before,
.tooltip div::after {
  width: 0px;
  height: 0px;
  content: '';
  display: block;
  animation: plop 0.2s 0s ease-in-out;
  animation-fill-mode: both;
}

.tooltip.top div::after {
  border: 12px solid;
  border-color: rgba(0,0,0,0.75) transparent transparent transparent;
  position: absolute;
  left: calc(50% - 12px);
  bottom: -24px;
}

.tooltip.right div::after {
  border: 12px solid;
  border-color: transparent rgba(0,0,0,0.75) transparent transparent;
  position: absolute;
  top: calc(50% - 12px);
  left: -24px;
}

.tooltip.bottom div::before {
  border: 12px solid;
  border-color: transparent transparent rgba(0,0,0,0.75) transparent;
  position: absolute;
  left: calc(50% - 12px);
  top: -24px;
}

.tooltip.left div::before {
  border: 12px solid;
  border-color: transparent transparent transparent rgba(0,0,0,0.75);
  position: absolute;
  top: calc(50% - 12px);
  right: -24px;
}
