soft-popup {
  box-sizing: border-box;
}

/***** SOFT POPUPS *****/
soft-popup {
  z-index: 5;
  position: fixed;
  width: 80%;
  max-width: 800px;
  height: 50%;
  max-height: 400px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  background-color: var(--white-dark);
  border: 2px solid var(--grey-dark);
  color: var(--black-default);
  vertical-align: middle;
}

soft-popup div {
  width: 100%;
  height: calc(100% - 5 * var(--font-size-default));
  display: table;
}

soft-popup p {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}

soft-popup span:nth-child(1) {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 2;
  width: 100%;
  display: block;
}

soft-popup::after {
  display: block;
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
  content: "Click on this message to hide it";
  font-size: var(--font-size-small);
  color: var(--grey-default);
}

soft-popup[success] {
  background-color: var(--green-subtle);
  border: 2px solid var(--green-dark);
  color: var(--green-darker);
}

soft-popup[info] {
  background-color: var(--blue-subtle);
  border: 2px solid var(--blue-dark);
  color: var(--blue-darker);
}

soft-popup[warning] {
  background-color: var(--yellow-subtle);
  border: 2px solid var(--yellow-dark);
  color: var(--yellow-darker);
}

soft-popup[alert] {
  background-color: var(--red-subtle);
  border: 2px solid var(--red-dark);
  color: var(--red-darker);
}
