/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

/* Change the values here
* !!!
* IMPORTANT: You also need to change them in the RESPONSIVE DESIGN section
* ( Media queries don't work with CSS variables )
* !!!
*/

.soft-row,
.soft-col {
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-between;;
  padding: 0px;
  flex-wrap: wrap;
}

.soft-row,
.soft-col,
.soft-row *,
.soft-col * {
  box-sizing: border-box;
  text-align: inherit;
}

.soft-row {
  width: 100%;
}

.soft-row, .soft-col {
  height: auto;
  padding: 0px;
}

.soft-col *:first-child {
  margin-top: 0px;
}

.soft-col *:last-child {
  margin-bottom: 0px;
}

.soft-col *:not([class*="col"]):not(.soft-row),
.soft-row *:not([class*="col"]) {
  flex: 1;
}

[class*="container"] div:not(.soft-row):not(.soft-col) {
  background-color: var(--blue-light);
  padding: 0.5em;
  border: 1px solid #444;
}

.col-1 { width: calc(100% / 12); }
.col-2 { width: calc(100% / 6); }
.col-3 { width: calc(100% / 4); }
.col-4 { width: calc(100% / 3); }
.col-5 { width: calc(500% / 12); }
.col-6 { width: calc(100% / 2); }
.col-7 { width: calc(700% / 12); }
.col-8 { width: calc(800% / 12); }
.col-9 { width: calc(900% / 12); }
.col-10 { width: calc(1000% / 12); }
.col-11 { width: calc(1100% / 12); }
.col-12 { width: 100%; }

.col-s1 { flex: 1 0; }
.col-s2 { flex: 2 0; }
.col-s3 { flex: 3 0; }
.col-s4 { flex: 4 0; }
.col-s5 { flex: 5 0; }
.col-s6 { flex: 6 0; }
.col-s7 { flex: 7 0; }
.col-s8 { flex: 8 0; }
.col-s9 { flex: 9 0; }
.col-s10 { flex: 10 0; }
.col-s11 { flex: 11 0; }
.col-s12 { flex: 12 0; }

.col-offset-1 { margin-left: calc(100% / 12); }
.col-offset-2 { margin-left: calc(100% / 6); }
.col-offset-3 { margin-left: calc(100% / 4); }
.col-offset-4 { margin-left: calc(100% / 3); }
.col-offset-5 { margin-left: calc(500% / 12); }
.col-offset-6 { margin-left: calc(100% / 2); }
.col-offset-7 { margin-left: calc(700% / 12); }
.col-offset-8 { margin-left: calc(800% / 12); }
.col-offset-9 { margin-left: calc(900% / 12); }
.col-offset-10 { margin-left: calc(1000% / 12); }
.col-offset-11 { margin-left: calc(1100% / 12); }

/*************** RESPONSIVE DESIGN ***************/

/* LARGE */
/* Set the value according to the one you put at the beginning */
@media screen and (max-width: 1200px) {
  .container-lg .soft-col > *,
  .container-lg.soft-col > * {
    width: 100%;
  }

  .container-lg .soft-col > *:not(.soft-row),
  .container-lg.soft-col > *:not(.soft-row) {
    display: block;
  }
}

/* MEDIUM */
/* Set the value according to the one you put at the beginning */
@media screen and (max-width: 960px) {
  .container-md .soft-col > *,
  .container-md.soft-col > * {
    width: 100%;
  }

  .container-md .soft-col > *:not(.soft-row),
  .container-md.soft-col > *:not(.soft-row) {
    display: block;
  }
}

/* SMALL */
/* Set the value according to the one you put at the beginning */
@media screen and (max-width: 750px) {
  .container-sm .soft-col > *,
  .container-sm.soft-col > * {
    width: 100%;
  }

  .container-sm .soft-col > *:not(.soft-row),
  .container-sm.soft-col > *:not(.soft-row) {
    display: block;
  }
}
