/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

.soft-columns {
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-between;;
  padding: 0.25em;
  flex-wrap: wrap;
}

.soft-columns * {
  box-sizing: border-box;
  text-align: inherit;
}

.soft-columns .soft-columns {
  height: auto;
  padding: 0px;
}

.soft-columns div:not(.soft-columns) {
  background-color: var(--blue-lighter);
  padding: 4px;
  border: 1px solid #444;
}

.col-w1 { width: 8%; }
.col-w2 { width: 16%; }
.col-w3 { width: 24%; }
.col-w4 { width: 32%; }
.col-w5 { width: 40%; }
.col-w6 { width: 48%; }
.col-w7 { width: 56%; }
.col-w8 { width: 64%; }
.col-w9 { width: 72%; }
.col-w10 { width: 80%; }
.col-w11 { width: 88%; }
.col-w12 { width: 96%; }

.col-1 { flex: 1 0; }
.col-2 { flex: 2 0; }
.col-3 { flex: 3 0; }
.col-4 { flex: 4 0; }
.col-5 { flex: 5 0; }
.col-6 { flex: 6 0; }
.col-7 { flex: 7 0; }
.col-8 { flex: 8 0; }
.col-9 { flex: 9 0; }
.col-10 { flex: 10 0; }
.col-11 { flex: 11 0; }
.col-12 { flex: 12 0; }

/* MOBILE SCREENS */
@media screen and (max-width: 1024px) {
  .soft-columns:not(.force-hor) {
    display: block;
  }

  .soft-columns:not(.force-hor) * {
    display: block;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;;
  }
}
