/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/

/* Change the values here
* !!!
* IMPORTANT: You also need to change them in the RESPONSIVE DESIGN section
* ( Media queries don't work with CSS variables )
* !!!
*/

:root {
  --soft-col-width-lg: 1200px;
  --soft-col-width-md: 960px;
  --soft-col-width-sm: 768px;
}
.soft-col-sm,
.soft-col-md,
.soft-col-lg,
.soft-row {
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-between;;
  padding: 0px;
  flex-wrap: wrap;
}

.soft-col-lg {
  width: 100%;
  max-width: var(--soft-col-width-lg);
}

.soft-col-md {
  width: 100%;
  max-width: var(--soft-col-width-md);
}

.soft-col-sm {
  width: 100%;
  max-width: var(--soft-col-width-sm);
}

.soft-col-m *,
.soft-col-md *,
.soft-col-lg * {
  box-sizing: border-box;
  text-align: inherit;
}

.soft-row {
  flex: 1 0;
  height: auto;
  padding: 0px;
  margin: 0.25em;
}

[class*="soft-col"] div:not(.soft-row) {
  background-color: var(--blue-lighter);
  padding: 0.5em;
  border: 1px solid #444;
}

.col-w1 { width: 8%; }
.col-w2 { width: 16%; }
.col-w3 { width: 24%; }
.col-w4 { width: 32%; }
.col-w5 { width: 40%; }
.col-w6 { width: 48%; }
.col-w7 { width: 56%; }
.col-w8 { width: 64%; }
.col-w9 { width: 72%; }
.col-w10 { width: 80%; }
.col-w11 { width: 88%; }
.col-w12 { width: 96%; }

.col-1 { flex: 1 0; }
.col-2 { flex: 2 0; }
.col-3 { flex: 3 0; }
.col-4 { flex: 4 0; }
.col-5 { flex: 5 0; }
.col-6 { flex: 6 0; }
.col-7 { flex: 7 0; }
.col-8 { flex: 8 0; }
.col-9 { flex: 9 0; }
.col-10 { flex: 10 0; }
.col-11 { flex: 11 0; }
.col-12 { flex: 12 0; }

/*************** RESPONSIVE DESIGN ***************/

/* LARGE */
/* Set the value according to the one you put at the beginning */
@media screen and (max-width: 1200px) {
  .soft-col-lg:not(.force-hor) {
    display: block;
  }

  .soft-col-lg:not(.force-hor) * {
    display: block;
    width: 100%;
  }

  .soft-row:not(.force-hor) * {
    display: block;
    width: 100%;
  }

  .soft-col-lg *:not(.soft-row) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

/* MEDIUM */
/* Set the value according to the one you put at the beginning */
@media screen and (max-width: 960px) {
  .soft-col-md:not(.force-hor) {
    display: block;
  }

  .soft-col-md:not(.force-hor) * {
    display: block;
    width: 100%;
  }

  .soft-col-sm *:not(.soft-row) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

/* SMALL */
/* Set the value according to the one you put at the beginning */
@media screen and (max-width: 768px) {
  .soft-col-sm:not(.force-hor) {
    display: block;
  }

  .soft-col-sm:not(.force-hor) * {
    display: block;
    width: 100%;
  }

  .soft-col-sm *:not(.soft-row) {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
