/********** TEXT **********/

/* Makes the first letter of the paragraph shifted from the border */
.first-letter-spacing {
  text-indent: 2em;
}

.first-letter-spacing * {
  text-indent: 0px;
}

/* Makes the first letter of the paragraph bigger */
.first-letter-big::first-letter {
  font-size: 200%;
}

.first-letter-huge::first-letter {
  font-size: 400%;
}

/* Makes the text float on the left */
.text-left {
  text-align: left !important;
}

/* Makes the text justified */
.text-justify {
  text-align: justify !important;
}

/* Makes the text float on the right */
.text-right {
  text-align: right !important;
}

/* Center the text */
.text-center {
  text-align: center !important;
}


/********** ELEMENTS PLACING **********/

/* Hides the element */
.hidden, [hidden] {
  display: none !important;
}

/* Makes the element float on the left */
.left {
  float: left !important;
}

/* Makes the element float on the right */
.right {
  float: right !important;
}

/* Makes the element takes the full width of its parent */
.fullWidth {
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* Makes the element takes the full height of its parent */
.fullHeight {
  height: 100% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Makes the element take the full height of the screen */
.fullScreenH {
  height: 100vh !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/********** ELEMENTS BEHAVIOUR **********/
.disabled {
  pointer-events: none;
}

/********** ELEMENTS ASPECT **********/

/* Sets a border */
.border {
  border: var(--border-width) solid var(--primary-color-dark);
}
