/*
* Soft CSS - The tweakable CSS framework
* Romain Arnaud - 2016
*/



  /*
  ******************************************************************************
  * COLOR PALETTE
  ******************************************************************************
  */

  /*
  * HOW TO USE
  * - Define the default color each time ( $blue-default, $red-default, etc. )
  * - The shades will be automatically calculated using lighten() and darken()
  * - At the end, choose the colors of elements using the color palette
  *   so you have an uniform color scheme
  */



  /********************
  *   COLOR PALETTE   *
  ********************/

  /* THEME */
  $primary-color: #4586e8;
  $secondary-color: #9d43e8;

  /*** COMPLEMENTARY COLORS ***/
  $grey-color: #9d9d9d;
  $black-color: #0e0e0e;
  $blue-color: #296dd1;
  $green-color: #36b147;
  $red-color: #cd2f2b;
  $orange-color: #e7912c;

  /* GREY */
  $lighter-grey: #ced7e2; /* Almost white */
  $light-grey: #acb4bf;
  $grey-medium: #848b96;
  $dark-grey: #646a72;
  $darker-grey: #44494f; /* Darky dark, almost light black */

  /*** USED FOR THE ELEMENTS ***/
  $shadow-color: #a2a2a2;

  /* HEADER */
  $color-header: #ecf0f1;
  $bg-color-header: $primary-color;

  $bg-color-base: #fff; /*#ecf0f1;*/
  $bg-color-primary: transparentize($primary-color, 0.85);
  $border-color-primary: darken($primary-color, 10%);
  $bg-color-secondary: transparentize($secondary-color, 0.85);
  $border-color-secondary: darken($secondary-color, 10%);

  $font-color-base: #101010;

  /*$bg-color-base: #101520;
  $bg-color-elements: #182534;
  $bg-color-elements-shade: #23364e;
  $border-color-primary: #304760;

  $font-color-shade: #343b4d;
  $font-color-grey: #6f7278;
  $font-color-base: #e6e6e6;

  $bg-color-base: #ffc9fe;
  $bg-color-elements: #f2a1f1;
  $bg-color-elements-shade: #e77ee6;
  $border-color-primary: #cf4dce;

  $font-color-shade: #65265e;
  $font-color-grey: #4b1a37;
  $font-color-base: #2f0015;*/

  $font-color-link: darken($primary-color, 15%);
  $font-color-link-h: $primary-color;
  $font-color-link-v: darken($secondary-color, 15%);



  /*
  ******************************************************************************
  * LAYOUT CONTROL
  ******************************************************************************
  */

  /*
  ***** NAVIGATION *****
  */
  $bg-color-nav: $blue-color;
  $navside-bg-color: lighten($black-color, 6%);
  $navside-header-color: darken($primary-color, 12%);
  $navside-footer-color: $black-color;
