/********** SIZES **********/

$body-width: 100%;
$main-width: 1024px;
$aside-width: 200px;

$screen-width-sm: 600px;
$screen-width-md: 780px;
$screen-width-lg: 960px;
$screen-width-xl: 1200px;

$navside-width: 240px;
$navside-header-height: 150px;
$navside-footer-height: 50px;

/*
***** GRID LAYOUT *****
*/
$grid-margin: 20px;
$grid-margin-sm: ($grid-margin / 2);

/*
* -- Container threshold sizes --
* The name is a bit misleading as it isn't only used for containers but
* for the whole responsiveness of the website ( it's the value used in the
* media queries )
*/
$container-sm: 750px;
$container-md: 960px;
$container-lg: 1200px;
