button {
  padding: 1em;
  border: 0px solid var(--grey-default);
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  text-shadow: 0px 0px 3px #464646;
  margin: 0.5em;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: 0;
}

button:focus {
  outline: 0;
}

button.green, button.blue, button.red, button.yellow, button.black {
  color: var(--white-default);
}

/* GREEN */
button.green {
  background-color: var(--green-default);
  border-color: var(--green-dark);
}
button.green:active { background-color: var(--green-dark); }

/* BLUE */
button.blue {
  background-color: var(--blue-default);
  border-color: var(--blue-dark);
}
button.blue:active { background-color: var(--blue-dark); }

/* RED */
button.red {
  background-color: var(--red-default);
  border-color: var(--red-dark);
}
button.red:active { background-color: var(--red-dark); }

/* YELLOW */
button.yellow {
  background-color: var(--yellow-default);
  border-color: var(--yellow-dark);
}
button.yellow:active { background-color: var(--yellow-dark); }

/* BLACK */
button.black {
  background-color: var(--black-lighter);
  border-color: var(--black-default);
}
button.black:active { background-color: var(--black-default); }
