:root {

  /********** FONTS **********/

  --font-default: Arial;
  --font-second: Impact;
  --font-third: "Times New Roman";
  --font-title: Verdana;
  --font-header: Impact;

  --font-size-default: 18px;
  --font-size-big: calc(1.5 * var(--font-size-default));
  --font-size-bigger: calc(2* var(--font-size-default));
  --font-size-huge: calc(2.5 * var(--font-size-default));
  --font-size-small: calc(0.8 * var(--font-size-default));
  --font-size-smaller: calc(0.5 * var(--font-size-default));
  --font-size-header: 12vw;

  /********** COLORS **********/

  /* WHITE */
  --white-default: #ecf0f1;
  --white-light: #f2f8f9;
  --white-dark: #d7d9da;

  /* GREY */
  --grey-default: #83898c;
  --grey-light: #a8aeb3;
  --grey-dark: #606466;
  --grey-darker: #3c3e40;

  /* BLACK */
  --black-default: #0e0e0e;
  --black-lighter: #262626;
  --black-light: #171717;
  --black-dark: #090909;

  /* BLUE */

  --blue-subtle: #d3e2f4;
  --blue-lighter: #7bb9e2;
  --blue-light: #51a6de;
  --blue-default: #2a70c3;
  --blue-dark: #194082;
  --blue-darker: #0f2849;

  /* GREEN */
  --green-subtle: #d1f4da;
  --green-lighter: #74e290;
  --green-light: #3fde67;
  --green-default: #1cc346;
  --green-dark: #198233;
  --green-darker: #0b491a;

  /* RED */
  --red-subtle: #f4d8d5;
  --red-lighter: #e28d85;
  --red-light: #de5143;
  --red-default: #c32e1e;
  --red-dark: #822117;
  --red-darker: #49120d;

  /********** SIZES **********/

  --body-width: 1300px;
  --main-width: 1024px;
  --aside-width: 250px;
  --nav-width: 100%;

}
